* {
  box-sizing: border-box;
}

body {
  background-color: #540b0e;
}

#root {
  text-align: left;
  font-family: 'Overlock';
  background-color: #540b0e;
  width: 100%;
  height: 100%;  
}

h1 {
  text-align: center;
  font-family: 'Overlock';
  background-color: #335c67;
  color: #fff3b0;
  width: 100%;
}


.accordion {
  display: block;
  width: 100%;
}

.accordion-title {
  display: block;
  font-size: 25px;
  font-weight: bold;
  color: #fff3b0;
  width: 100%;
  border-top: thin dashed #e09f3e;
  cursor: pointer;
  background-color: #540b0e;
}

.accordion-title:hover {
  background-color: #9e2a2b;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #e09f3e;
  white-space: pre-line;
  font-size: 25px;
  color: #540b0e;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }

}

.tag-container {
  margin: 0 0 0 0;
}

.tag {
    display: inline-block;
    padding: 3px;
    text-align: center;
    min-width: 60px;
    border-radius: 10%;
    margin-right: 10px;
    background: #fff3b0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

